<ion-header>
  
  <ion-navbar color="primary">
      
      <!-- Título -->
      <ion-title *ngIf="!toggled">Estabelecimentos</ion-title>
      <!-- Search Bar -->
      <ion-searchbar 
            *ngIf="toggled" 
            #mySearchBar 
            [showCancelButton]="true"
            (ionClear) = "toggleSearch()" 
            (ionCancel)="toggleSearch()" 
            (ionInput)="pesquisar($event)"
            >
      </ion-searchbar>
      <!-- Search Icon -->    
      <ion-buttons end *ngIf="!toggled">
        <button ion-button icon-only (click)="toggleSearch()"><ion-icon name="search"></ion-icon></button>
        <button ion-button icon-only (click)="settings()"><ion-icon name="more"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  
  <ng-template ngFor let-rede [ngForOf]="redeArray">
    <div class="image-container" *ngFor="let estabelecimento of rede.estabelecimentos" (click)="showOptions(rede.key, estabelecimento.key)">
        <img class="image-header" [src]=estabelecimento.imgURL>
        <div class="image-subscription">
          <p class="image-subscription-text-left">
            {{estabelecimento.nome}}<br>
            {{estabelecimento.logradouro}}, {{estabelecimento.numero}} - {{estabelecimento.bairro}}
          </p>

          <p class="image-subscription-text-right info-available"
              *ngIf= "utils.validarHorario(
                estabelecimento.horario_abertura.getHours(),
                estabelecimento.horario_fechamento.getHours(),
                estabelecimento.horario_abertura.getMinutes(),
                estabelecimento.horario_fechamento.getMinutes(),
                dataAtual.getHours(),
                dataAtual.getMinutes()); else fechado">
                Aberto
          </p>

          <ng-template #fechado>
            <p class="image-subscription-text-right info-unavailable">Fechado</p>
          </ng-template>
        </div>
        <!-- QR para debugs e uso no checkin, excluir esse campo depois -->  
        <!--
        <div *ngFor="let mesa of estabelecimento.mesas" class="qr">
            <h2>Mesa {{mesa.numero}} - {{mesa.status}}</h2><br>
          <img src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data={{rede.key}}__{{estabelecimento.key}}__{{mesa.key}}" />
        
        </div>
      <div style="clear:both"></div>
      -->
    </div>
  </ng-template>
  
</ion-content>
