<ion-header>
  <ion-navbar color=primary>
    <ion-title>Estabelecimentos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon *ngIf="!toggledSearch" (click)="toggleSearch()" name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Pesquise..." (ionInput)="pesquisar($event)"></ion-searchbar>
  <ion-list>
      <ng-template ngFor let-estabelecimento [ngForOf]="estabArray" >
        <ion-item (click)="showOptions(estabelecimento, estabelecimento.key)" >
          <ion-avatar item-start>
            <img [src]=estabelecimento.imgURL>
          </ion-avatar>
          <h2>{{estabelecimento.nome}}</h2>
          <p>{{estabelecimento.logradouro}}, {{estabelecimento.numero}} - {{estabelecimento.bairro}}</p>
          <!-- QR para debugs e uso no checkin, excluir esse campo depois -->  
          <!--<div *ngFor="let mesa of estabelecimento.mesas" class="qr">
              <h2>Mesa {{mesa.numero}} - {{mesa.status}}</h2><br>
            <img src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data={{estabelecimento.key}}__{{mesa.key}}" />
          
          </div>-->
        <div style="clear:both"></div>
        </ion-item>
      </ng-template>
  </ion-list>
<ion-content>