
<ion-header>
  <ion-navbar color=primary>
    <ion-title>{{estabelecimento.nome}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


<ion-card class="img-card">
    <img [src]="estabelecimento.imgURL"/>

    <ion-card-content class="content-card">
      <ion-card-title>
        {{estabelecimento.nome}}
      </ion-card-title> 
      <p>{{estabelecimento.tipo}}</p>
      <p> Tel.:{{estabelecimento.telefone}}</p>
    </ion-card-content>
</ion-card>

<!--<ion-card>
  <ion-card-content>
      <ion-card-title>
        Status da reserva
      </ion-card-title> 
      <p>Mesa {{mesaescolhida?.numero}} está {{mesaescolhida?.status}}</p>
    </ion-card-content>
</ion-card>-->

<div class="scrollbar" id="style-1">
  <ion-list>
    <ion-item *ngFor="let cardapio of estabelecimento.cardapios" >
      <h1>{{cardapio.categoria.nome}}</h1>
      <ion-item *ngFor="let produto of cardapio.produtos" >
        <ion-thumbnail item-start>
          <img [src]="produto.imagemURL" width="200px">
        </ion-thumbnail>
        <h2>{{produto.nome}}</h2>
        <p>{{produto.descricao}}</p>
        <button ion-button clear item-end>R${{produto.preco}}</button>
      </ion-item>
    </ion-item>
  </ion-list>
</div>

