<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cardápio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngFor="let item of checkinService.getPedido().itens">
    {{item.quantidade}}<br>
    {{item.produto.nome}}<br>
    {{item.produto.preco}}
  </div>
  <div class="image-container" *ngFor="let produto of cardapio.produtos" (click)="mostrarProduto(produto)">
    <img class="image-header" [src]=produto.imagemUrl/>
    <div class="image-subscription">
      <ion-item>
        <ion-label>{{produto.nome}}</ion-label>
        <ion-checkbox (ionChange)="addProduto(produto)"></ion-checkbox>
      </ion-item>
      <p class="image-subscription-text-right">
        {{produto.preco | currency:'BRL':true:'1.2-2'}}
        <ion-icon *ngIf="checkinService.getChecado() == true &&
                         checkinService.getEstabKey() == estabelecimento.key"
                  name="add">
        </ion-icon>
      </p>
    </div>
  </div>

</ion-content>
