<ion-header>
  <ion-navbar color=primary>
    <ion-title>Check-In</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="checkinService.checado != true; else checked">
    <div class="checkin-header">
      <h4 class="beauty-text" ion-text>Faça Check-in no estabelecimento desejado e tenha acesso ao cardápio</h4>
    </div>
    <div class="checkin-content">
      <ion-buttons>
        <button ion-button color=secondary (click)="lerqrcode()">Check-in</button>
      </ion-buttons>
      <!--
      <ion-buttons>
        <button ion-button color=secondary (click)="checkin(redeKey, stabKey, mesaKey)">CheckIn Debug</button>
      </ion-buttons>
      -->
    </div>
    <div class="checkin-footer">
      <img class="checkin-footer-image" src="https://firebasestorage.googleapis.com/v0/b/cardappio-60ff4.appspot.com/o/qrc1.png?alt=media&token=8477146a-a2d4-4a83-a25c-90cf7b082009">
    </div>
  </div>

  <!-- Se realizou check-in -->
  <ng-template #checked>

    <ion-row>
      <h5 ion-text class="beauty-text">Você fez check-in em:</h5>
    </ion-row>
    <ion-row>
      <h3 ion-text>{{checkinService.getEstabelecimento().nome}}</h3>
    </ion-row>
    <ion-row class="checkin-header-mesa">
      <h5 ion-text class="beauty-text">Mesa {{checkinService.getMesa().numero}}</h5>
    </ion-row>
    <hr>
    <div *ngFor="let pedido of checkinService.getPedidos()">
      <p>Status do pedido: {{pedido.status}}</p>
      <div *ngFor="let item of pedido.itens">
        {{item.quantidade}} - {{item.key}}
      </div>
      
    </div>

    <ion-fab bottom right>
      <button #fab ion-fab color=secondary>
        <ion-icon name="add"></ion-icon>
      </button>
      <ion-fab-list side="top">
        <button ion-fab (click)="showCardapio()">
          <ion-icon name="restaurant"></ion-icon>
        </button>
        <button ion-fab (click)="showPedidos()">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-fab >
          <ion-icon name="notifications"></ion-icon>
        </button>
        <button ion-fab (click)="checkOut()">
          <ion-icon name="cash"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>
  </ng-template>

</ion-content>
